body{
max-width:100%;
margin: 0px auto 0px;
text-align:center;
color:#333333;
font-size:1.8em;
font-family:Arial,Verdana,sans-serif;
}
#wrap {
text-align:center;
color:#333333;
max-width:960px;
min-width:200px;
margin:100px auto 0px;
padding:15px;
}
#wrap h1{
font-family:Arial,Verdana,sans-serif;
clear:both;
font-size:0.8em;
}
#wrap h3{
font-family:Arial,Verdana,sans-serif;
font-size:0.6em;
clear:both;
}
input{
color:#CCCCCC;
padding:4px;
margin:0px 4px 0px 4px;
font-size:1.2em;
border:1px solid #CCCCCC;
}
select{
color:#CCCCCC;
font-size:1.2em;
border:1px solid #CCCCCC;
}
#smallfont {
font-size: 0.5em;
color: #333333;	
}
@media screen and (max-width: 500px) {
body{
max-width:100%;
margin: 0px auto 0px;
text-align:center;
color:#333333;
font-size:0.9em;
font-family:Arial,Verdana,sans-serif;
}
#wrap h1{
font-family:Arial,Verdana,sans-serif;
clear:both;
font-size:0.9em;
}
#wrap h3{
font-family:Arial,Verdana,sans-serif;
font-size:0.7em;
clear:both;
}
input{
color:#CCCCCC;
padding:4px;
margin:0px 4px 0px 4px;
font-size:1em;
border:1px solid #CCCCCC;
}
#smallfont {
font-size: 0.5em;
color: #333333;	
}